{
    "extends": "dq",
    "rules": {
        "import/no-unresolved": 0,
        "import/no-extraneous-dependencies": 0
    },
    "env": {
        "jasmine": true
    },
    "plugins": [
        "jasmine"
    ]
}
